.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.labelWhite{
  color: white;
  padding: 8px;
  font-family: Arial;
}

.dimensions {background-color: #04AA6D;}

.chlorinated {background-color: #2196F3;} /* Blue */

.tabla {background-color: #ff9800;}

.width200
  {
      width: 200px;
  }

.width300
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

/* svg{border: solid;} */
.contenedor-div{
  position:relative;
}
.contador{
  position:absolute;
  bottom:0px;
  right:0px;
 }
 