.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.width200
  {
      width: 200px;
  }

.width300
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
